@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=League+Spartan:wght@400;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --orange: rgb(255, 158, 68);
    --orange-web: #ff690c;
    --light-orange: rgb(255, 242, 224);
    --lighter: rgb(255, 247, 234);
}

* {
    margin: 0;
}

h1 {
    color:var(--orange-web);
    font-size: 2.5rem;
}

body {
    background-color: var(--light-orange);
    font-family: 'Jost', sans-serif;
}

#large-container {
    margin: 40px auto auto auto;
    max-width: 500px;
    text-align: center;
    background-color: var(--orange-web);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 8px;
}
 #header-div {
    position: relative;
    top: 0;
    background-color: white;
    padding: 8px;
    border-radius: 10px 10px 0 0;
 }

input {
    display:block;
    background-color: white;
    border:3px solid var(--orange-web);
    margin: 0 auto 20px auto;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 10px;
}

button {
    height: 35px;
    width: 70px;
    border-radius: 10px;
    border:none;
    color: white;
    font-weight: 600;
    background-color: var(--orange-web);
    margin-bottom: 20px;
    cursor: pointer;
}

#bottom-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.units-container {
    border-radius: 10px;
    padding: 8px;
    margin: 20px;
    background-color: white;
}